<section class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1403852.1303614378!2d5.5452458725466895!3d52.24784999850137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1678961847765!5m2!1snl!2snl"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>