<nav>
    <ul>
        <li>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="19" viewBox="0 0 15 19" fill="none">
                    <path
                        d="M10 7.5C10 8.16304 9.73661 8.79893 9.26777 9.26777C8.79893 9.73661 8.16304 10 7.5 10C6.83696 10 6.20107 9.73661 5.73223 9.26777C5.26339 8.79893 5 8.16304 5 7.5C5 6.83696 5.26339 6.20107 5.73223 5.73223C6.20107 5.26339 6.83696 5 7.5 5C8.16304 5 8.79893 5.26339 9.26777 5.73223C9.73661 6.20107 10 6.83696 10 7.5V7.5Z"
                        stroke="#524DD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M14 7.8C14 14.2754 7.5 18 7.5 18C7.5 18 1 14.2754 1 7.8C1 5.99653 1.68482 4.26692 2.90381 2.99167C4.12279 1.71643 5.77609 1 7.5 1C9.22391 1 10.8772 1.71643 12.0962 2.99167C13.3152 4.26692 14 5.99653 14 7.8V7.8Z"
                        stroke="#524DD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Search
            </a>
        </li>
        <li>
            <a href="/book"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 19" fill="none">
                <path
                    d="M1 7.13889V3.66161C1 3.23485 1.34568 2.88889 1.77209 2.88889H3.75058M1 7.13889V17.2273C1 17.654 1.34568 18 1.77209 18H14.8976C15.3241 18 15.6697 17.654 15.6697 17.2273V7.13889M1 7.13889H15.6697M15.6697 7.13889V3.66161C15.6697 3.23485 15.3241 2.88889 14.8976 2.88889H13.3776M3.75058 2.88889V1M3.75058 2.88889H13.3776M13.3776 2.88889V1"
                    stroke="#524DD0" stroke-width="2" stroke-linecap="round" />
                <path d="M5.58469 9.5H3.75098V11.3889H5.58469V9.5Z" fill="#524DD0" />
                <path d="M9.25169 9.5H7.41797V11.3889H9.25169V9.5Z" fill="#524DD0" />
                <path d="M12.9192 9.5H11.0854V11.3889H12.9192V9.5Z" fill="#524DD0" />
                <path d="M5.58469 13.2778H3.75098V15.1667H5.58469V13.2778Z" fill="#524DD0" />
                <path d="M9.25169 13.2778H7.41797V15.1667H9.25169V13.2778Z" fill="#524DD0" />
            </svg>Book</a></li>
        <li>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 17" fill="none">
                <mask id="path-1-inside-1_305_4623" fill="white">
                    <rect width="20" height="7.08333" rx="1" />
                </mask>
                <rect width="20" height="7.08333" rx="1" stroke="#524DD0" stroke-width="4" mask="url(#path-1-inside-1_305_4623)" />
                <mask id="path-2-inside-2_305_4623" fill="white">
                    <rect y="9.9165" width="20" height="7.08333" rx="1" />
                </mask>
                <rect y="9.9165" width="20" height="7.08333" rx="1" stroke="#524DD0" stroke-width="4"
                    mask="url(#path-2-inside-2_305_4623)" />
            </svg>Manage</a></li>
        <li>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 21" fill="none">
                <circle cx="10.5" cy="10.5" r="9.5" stroke="#4F52C9" stroke-width="2" />
                <path
                    d="M17.5 17.5002C17.5 16.6729 17.3189 15.8536 16.9672 15.0893C16.6154 14.3249 16.0998 13.6304 15.4497 13.0454C14.7997 12.4604 14.0281 11.9964 13.1788 11.6798C12.3295 11.3631 11.4193 11.2002 10.5 11.2002C9.58075 11.2002 8.67049 11.3631 7.82122 11.6798C6.97194 11.9964 6.20026 12.4604 5.55025 13.0454C4.90024 13.6304 4.38463 14.3249 4.03284 15.0893C3.68106 15.8536 3.5 16.6729 3.5 17.5002"
                    stroke="#524DD0" stroke-width="2" />
                <circle cx="10.5" cy="7.7" r="3.2" stroke="#524DD0" stroke-width="2" />
            </svg>Account</a>
        </li>
    </ul>
</nav>