/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */

body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;  
}

header {
	background: #707070;
	grid-area: header;
}

nav {

	grid-area: nav; 
}

section {
	background: #707070;
	grid-area: section;    
}

aside {
	background: #707070;
	grid-area: aside; 
}

footer {
	background: #707070;
	grid-area: footer;
}

header, nav, section, aside, footer {
	padding: 5px;
}

:root {
    --blue-color: #110f2a;
    --purple-color: #524dd0;
    --green-color: #00ffec;
    --grey-color: #656672;
    --gradient-color: linear-gradient(90deg, #524dd0 0%, #84389e 100%);
    --black-color: #000;
    --white-color: #fff;
    --bg-blue: #d8e9f2;
    --bg-grey: #f6f6fc;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Rajhandi, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: var(--black-color);
}

:focus {
    outline: 2px solid var(--green-color);
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html {
    background-color: var(--bg-blue);
    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu-bar {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: var(--bg-grey);
}

h1 {
    font-size: 1.8rem;
    color: #bbbbbb;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.sz-card {
    width: 20rem;
    height: 7rem;
    /* border: solid 2px black; */
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 1px 3px 2px #bbbbbb;
    background-color: var(--white-color);
}

.sz-card img {
    width: 7rem;
    height: 10rem;
    object-fit: cover;
}

.card-right-side {
    display: flex;
    flex-direction: column;
    width: 13rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 1.2rem;
}

.buttons {
    flex-direction: row;
}

button {
    font-weight: 600;
    border-radius: 1rem;
    padding: -0.9rem 0.7rem;
}

button:first-of-type {
    background: var(--gradient-color);
    color: var(--white-color);
    border: none;
}

button:last-of-type {
    background: var(--white-color);
    color: var(--purple-color);
    border: solid 2px var(--purple-color);
}

nav {
    position: sticky;
    z-index: 1;
    bottom: 0;
    margin-left: -2px;
    margin-bottom: -5px;
}