@font-face {
	font-family: "Rajdhani";
	src: url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
		url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff");
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
	font-family: Rajdhani, sans-serif;
	scroll-behavior: smooth;
}

:root {
    --purple: #524dd0;
    --gradient: linear-gradient(90deg, #524dd0, #84389e);
    --b-white: #f6f6fc;
    --white: white;
    --gray: #737373;    
    --reserved-bg: linear-gradient(90deg, #524dd0, #84389e); 
    --reserved-c: white;
}

body {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 4em 10fr 4em;
    max-height: 100vh;
    max-width: 100vw;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    background-color: var(--b-white);
    z-index: 1;
    position: sticky;
    top: 0;
    height: 4em;
    justify-content: center;
}

header img {
    width: fit-content;
    height: auto;
    margin: .5em;   
    object-fit: cover;
}

.column{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--b-white);
}

.column h2 {
    color: var(--gray);
    font-size: medium;
}

.column .smartzones li {
    display: flex;
    list-style-type: none;
    border-radius: 1.5em;
    box-shadow: 1px 2px 1px #8D8DB8;
    background-color: var(--white);
    margin: 1em;
    overflow: hidden;
    
}

.container-img {
    width: 4em;
    height: 8em;
    padding: 0;
}

.container-li {
    padding: .5em;
}

.column img {
    width: 4em;
    height: 8em;
    object-fit: cover;
}

.column li button {
    border-radius: 1em;
    padding: .25em .5em;
    color: var(--purple);
    border: solid 2px var(--purple);
    background-color: var(--white);
}

.column li .book-now {
    color: var(--white);
    border: solid 2px var(--white);
    background-color: var(--purple);
    background: linear-gradient(to right, rgba(79,81,201,1) 0%, rgba(79,81,201,1) 40%, rgba(79,81,201,1) 44%, rgba(133,34,199,1) 100%);
}

nav {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: var(--b-white);
    width: 100%;
    position: sticky;
    bottom: 0;
    height: fit-content;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: flex;
    box-shadow: none;
    display: flex;
    list-style-type: none;
    padding: 1em;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    display: none;
}

form {
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
    background-color: var(--b-white);
}

fieldset {
    padding: 1rem;
    position: absolute;
    top: 151px;
    width: inherit;
}

form input, form label {
    display: block;
}